In [1]:
l=[0,1,2,3,4,5,446.345,'CHAMP',"  ",True]

In [2]:
l[8]

'  '

In [3]:
l[-5]

5

In [4]:
len(l)

10

In [5]:
l[0:5:2]

[0, 2, 4]

In [6]:
l[::-1]

[True, '  ', 'CHAMP', 446.345, 5, 4, 3, 2, 1, 0]

In [7]:
l+["I AM"]

[0, 1, 2, 3, 4, 5, 446.345, 'CHAMP', '  ', True, 'I AM']

In [8]:
l.append("theworldsaviour")

In [9]:
'CHAMP' in l

True

In [10]:
L1 = [1,5,9,11,782,29832,2398,98203,9923]
print(min(L1))
print(max(L1))

1
98203

In [11]:
l2=["Rahul", 'the cHAMP',"theWorldsaviour","the CHAMP"]
print(min(l2))
print(max(l2))

Rahul
theWorldsaviour

In [12]:
l.append([10,"07","supreme"])

In [13]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 446.345,
 'CHAMP',
 '  ',
 True,
 'theworldsaviour',
 [10, '07', 'supreme']]

In [14]:
l.pop(10)

'theworldsaviour'

In [15]:
l.append([10,'07','supreme'])

In [16]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 446.345,
 'CHAMP',
 '  ',
 True,
 [10, '07', 'supreme'],
 [10, '07', 'supreme']]

In [17]:
l.reverse()

In [18]:
l[::-1]

[0,
 1,
 2,
 3,
 4,
 5,
 446.345,
 'CHAMP',
 '  ',
 True,
 [10, '07', 'supreme'],
 [10, '07', 'supreme']]

In [19]:
L1.sort()
L1

[1, 5, 9, 11, 782, 2398, 9923, 29832, 98203]

In [20]:
l2.sort()
l2

['Rahul', 'the CHAMP', 'the cHAMP', 'theWorldsaviour']

In [21]:
L1.sort(reverse = True)
L1

[98203, 29832, 9923, 2398, 782, 11, 9, 5, 1]

In [22]:
a=[2,3,4]
b=[4,9,23]
c=[39,23,31,34]
d=[a,b,c]
d

[[2, 3, 4], [4, 9, 23], [39, 23, 31, 34]]

In [23]:
d[2][2]

31

In [24]:
d.append(45)

In [25]:
d.append([45,45,45,45])

In [26]:
d

[[2, 3, 4], [4, 9, 23], [39, 23, 31, 34], 45, [45, 45, 45, 45]]

In [27]:
d.count([45,45,45,45])

1

In [28]:
d.count(2)

0

In [29]:
l2.extend("theworldsaviour")

In [30]:
l2.extend([35,45,56,71])

In [31]:
l2.index(45)

20

In [32]:
l2

['Rahul',
 'the CHAMP',
 'the cHAMP',
 'theWorldsaviour',
 't',
 'h',
 'e',
 'w',
 'o',
 'r',
 'l',
 'd',
 's',
 'a',
 'v',
 'i',
 'o',
 'u',
 'r',
 35,
 45,
 56,
 71]

In [33]:
l3 = [45,66,84,865,165,68,468,18,68,45,6,8]

In [34]:
l3.insert(10,"CHAMP")

In [35]:
l3

[45, 66, 84, 865, 165, 68, 468, 18, 68, 45, 'CHAMP', 6, 8]

In [36]:
l3.pop(-3)

'CHAMP'

In [37]:
l3.remove(45)

In [38]:
l3

[66, 84, 865, 165, 68, 468, 18, 68, 45, 6, 8]

In [39]:
l3.remove("CHAMP")

ValueError: list.remove(x): x not in list

In [40]:
l3

[66, 84, 865, 165, 68, 468, 18, 68, 45, 6, 8]

In [41]:
l3[7] = "RAHUL"

In [42]:
l3

[66, 84, 865, 165, 68, 468, 18, 'RAHUL', 45, 6, 8]

In [43]:
l4 = "THEWORLDSAVIOUR"

In [46]:
l4(7) = "Z"

SyntaxError: cannot assign to function call (1759209817.py, line 1)

In [45]:
l4[2]

'E'

In [52]:
l3[0] = 20
l3

[20, 84, 865, 165, 68, 468, 18, 'RAHUL', 45, 6, 8]

In [53]:
l3.append([45,43,23])
l3

[20, 84, 865, 165, 68, 468, 18, 'RAHUL', 45, 6, 8, [45, 43, 23]]

In [55]:
l3.pop()

[45, 43, 23]

In [61]:
l3.insert(2,"THEWORLDSAVIOUR")
l3

[20,
 84,
 'THEWORLDSAVIOUR',
 865,
 165,
 68,
 468,
 18,
 'RAHUL',
 45,
 6,
 8,
 'THEWORLDSAVIOUR',
 90,
 79]

In [59]:
l3[12] = 90

In [60]:
l3[13] = 79
l3

[20, 84, 865, 165, 68, 468, 18, 'RAHUL', 45, 6, 8, 'THEWORLDSAVIOUR', 90, 79]

In [62]:
l3.pop(12)
l3

[20, 84, 'THEWORLDSAVIOUR', 865, 165, 68, 468, 18, 'RAHUL', 45, 6, 8, 90, 79]

In [63]:
l3.remove(6)

In [64]:
l3[8] = 'CHAMP'
l3

[20, 84, 'THEWORLDSAVIOUR', 865, 165, 68, 468, 18, 'CHAMP', 45, 8, 90, 79]

In [69]:
t1 = (45,34,6,234,65.43,56.435,"ksljd",True, False)
print(t1,"  ",type(t1))

(45, 34, 6, 234, 65.43, 56.435, 'ksljd', True, False)    <class 'tuple'>

In [70]:
print(t1,type(t1))

(45, 34, 6, 234, 65.43, 56.435, 'ksljd', True, False) <class 'tuple'>

In [79]:
t1

(45, 34, 6, 234, 65.43, 56.435, 'ksljd', True, False)

In [81]:
t1[0]

45

In [82]:
t1[-1]

False

In [84]:
t1[::3]

(45, 234, 'ksljd')

In [88]:
t1[0:12:-2]

()

In [91]:
t1[3]

234

In [92]:
t2=(34,74,12,12,23.12)

In [93]:
t1+t2

(45, 34, 6, 234, 65.43, 56.435, 'ksljd', True, False, 34, 74, 12, 12, 23.12)

In [96]:
t2.count(12)

2

In [98]:
t1.index(True)

7

In [99]:
t1[2] = "SALO"

TypeError: 'tuple' object does not support item assignment

In [100]:
list(t2)

[34, 74, 12, 12, 23.12]

In [101]:
tuple(t2)

(34, 74, 12, 12, 23.12)

In [106]:
t2=list(t2)

In [107]:
t2[3] = "HALO"

In [108]:
t2

[34, 74, 12, 'HALO', 23.12]

In [109]:
t2=tuple(t2)
t2

(34, 74, 12, 'HALO', 23.12)

In [111]:
#DICTIONARY
d = {}
type(d
)

dict

In [112]:
d1 ={1,2,3}
type(d1)

set

In [116]:
d2 ={'my name is':"CHAMP", "I rank" :2,"in sports":'all over the world'}
print(d2, type(d2))

{'my name is': 'CHAMP', 'I rank': 2, 'in sports': 'all over the world'} <class 'dict'>

In [119]:
d2["I rank"] = 1
d2

{'my name is': 'CHAMP', 'I rank': 1, 'in sports': 'all over the world'}

In [136]:
d3 ={"NAME":'RAHUL', 'specialization':["AI", "Sharemarket", 'Sports'], 'home':("Chennai", "Bangalore", "Delhi"), "work":{"UAE", "INDIA"}, "Current" :{"me":'father', 'me1':'husband'}}
d3

{'NAME': 'RAHUL',
 'specialization': ['AI', 'Sharemarket', 'Sports'],
 'home': ('Chennai', 'Bangalore', 'Delhi'),
 'work': {'INDIA', 'UAE'},
 'Current': {'me': 'father', 'me1': 'husband'}}

In [130]:
'Sports' in d3["specialization"]

True

In [131]:
d4 ={"S.No":"1", "Index" :"Page 2", "Topic":"movies"}

In [132]:
d4["Index"] = "Page 1"
d4

{'S.No': '1', 'Index': 'Page 1', 'Topic': 'movies'}

In [135]:
d4["index1"] = 2
d4

{'S.No': '1', 'Index': 'Page 1', 'Topic': 'movies', 'index1': 2}

In [137]:
d3["Current"]['me1']

'husband'

In [139]:
d3 = {3:4}
d3[3]

4

In [140]:
d2

{'my name is': 'CHAMP', 'I rank': 1, 'in sports': 'all over the world'}

In [141]:
d2+d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [142]:
d2.keys()

dict_keys(['my name is', 'I rank', 'in sports'])

In [143]:
d2.values()

dict_values(['CHAMP', 1, 'all over the world'])

In [144]:
d2.items()

dict_items([('my name is', 'CHAMP'), ('I rank', 1), ('in sports', 'all over the world')])

In [149]:
s1 = {4, 5, 54, 8, 9, 7, 5, 6, 2, 3, 6,5,7, 6, 7, 8, 9, 2, 1, 3, 5, 5}
print(type(s1),s1)

<class 'set'> {1, 2, 3, 4, 5, 6, 7, 8, 9, 54}

In [152]:
s2 = {"I", "AM", 'the', 'champ', 56, 78, 12}
s2

{12, 56, 78, 'AM', 'I', 'champ', 'the'}

In [153]:
list(s2)

['I', 'the', 'AM', 56, 12, 'champ', 78]

In [154]:
s2[2]

TypeError: 'set' object is not subscriptable

In [155]:
tuple(s2)

('I', 'the', 'AM', 56, 12, 'champ', 78)

In [156]:
s1.add([21,23,43,54])

TypeError: unhashable type: 'list'

In [158]:
s1.add(23)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 23, 54}

In [159]:
s3 = {(2,3,4,5), 56,34,213}

In [161]:
s3.remove((2,3,4,5))

KeyError: (2, 3, 4, 5)

In [162]:
s3

{34, 56, 213}

In [164]:
s3.add(20)
s3

{20, 34, 56, 213}

In [165]:
s3.remove(456)

KeyError: 456

In [166]:
s3.discard(456)
s3

{20, 34, 56, 213}

In [169]:
s3*s3

TypeError: unsupported operand type(s) for *: 'set' and 'set'